
/*entire side bar when it is opened*/
.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: +2;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    white-space: nowrap;
}

    /*content inside side bar*/
    .sidenav a {
        padding: 20px 8px 8px 20px;
        font-size: 20pt;
        color: white;
        display: flex;
        text-align: left;
        transition: 0.3s;
        text-decoration: none;
    }

    /*button to close side bar*/
    .sidenav .closebtn {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 0;
    }
/*formatting menubar */
#notindexspan {
    border-radius: 7%;
    position: absolute;
    display: block;
    color: black;
    /* background-color: black; */
    z-index: 1;
    width: 9%;
    height: 50px;
    float: left;
    left: 20px;
    top: 5%;
}
#driving_btn, #walk_btn, #bike_btn, #trans_btn {
    width: 23%;
    height: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 100%;
    border-radius: 10%;
}
#previousNext{
    height: 10%;
}

#next_btn {
    margin-top:10%;
    width: 48%;
    height: 50%;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 100%;
    border-radius: 10%;
    float: right;
}
#prev_btn {
    margin-top: 10%;
    width: 48%;
    height: 50%;
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 100%;
    border-radius: 10%;
    float: left;
}

/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 500px;
}
#startL {
    margin-top: 10px;
    float: left;
    font-size: 25px;
}
#destL {
    margin-top: 10px;
    float: right;
    font-size: 25px;
}
#content {
    height: 60px;
}

/* Optional: Makes the sample page fill the window. */
body {
    font-family: 'Rajdhani';
    text-align: center;
    font-weight: bolder;
    display: block;
    width: 100%;
    font-size: 20%;
    position: relative;
    z-index: -1;
    overflow: scroll;
}


#startL{
    font-size:1.2em;
    display: inline-block;
    width: 33%;
    height: 60px;
}

#destL {
    font-size: 1.2em;
    position: relative;
    right: 0px;
}

body {
    font-family: 'Rajdhani';
    text-align: center;
    font-weight: bolder;
    display: block;
    width: 100%;
    font-size: 16px;
    position: relative;
    z-index: -1;
    overflow: scroll;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

    #right-panel select, #right-panel input {
        font-size: 15px;
    }

    #right-panel select {
        width: 100%;
    }

    #right-panel i {
        font-size: 12px;
    }

#right-panel {
    height: 100%;
    float: right;
    width: 80%;
    overflow: auto;
}



#floating-panel {
    background: #fff;
    font-size: 10px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

@media print {
    #map {
        height: 500px;
        margin: 0;
    }

    #right-panel {
        float: none;
        width: auto;
    }
}


