body {
    font-family: 'Rajdhani';
    text-align: center;
    font-weight: bolder;
    display: block;
    width:100%;
    font-size: 16px;
    position: relative;
    z-index: -1;
    overflow: scroll;
  }

/* location input text box */
input{
    font-size: 15pt;
    width:85%;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1pt solid;

 }
/* disable outlining when clicking on the input field */
input:focus, textarea {
    outline: none !important;
}
/* disable outlining when clicking on the buttons */
button:focus, textarea {
    outline: none !important;
}
/* div for the logo*/
#divLogo {
    margin-top: 80px;
    height: 150px;
}
button {
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16pt;
    display: block;
    margin: 0 auto;
    width:95%;
    height: 50px;
    margin-top: 30px;   
    border-radius: 10%;
}
legend {
    font-size: 15pt;
    border-bottom: 0;
}
#divBtn{
    margin: 15px;
    margin-top: 60px;
}
.easterEgg {
	animation: shake 0.5s;
	animation-iteration-count: 1;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.pac-container {
    margin-top: -80px;
}

#header {
    position: fixed;
}
#aboutUs {
    font-size: pt; 
    margin-left: pt;
}
#joinUsP {
    margin: 0 12pt 12pt 12pt;
}




