/*entire side bar when it is opened*/
.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    white-space: nowrap;
  }
  
/*content inside side bar*/
  .sidenav a {
    padding: 8px 8px 8px 20px;
    font-size: 20px;
    color:grey;
    display: flex;
    text-align: left;
    transition: 0.3s;
  }
  
  /*button to close side bar*/
  .sidenav .closebtn {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 0;  
  }

/* little three line thingy to open the side bar*/
span{
    position: absolute;
    margin: -40px 0 0 -175px;
  }