/*entire side bar when it is opened*/
.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    white-space: nowrap;
}
/*content inside side bar*/
.sidenav a {
    padding: 20px 8px 8px 20px;
    font-size: 20pt;
    color: white;
    display: flex;
    text-align: left;
    transition: 0.3s;
    text-decoration: none;
}
/*button to close side bar*/
.sidenav .closebtn {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 0;
}
/* little three line thingy to open the side bar*/
#header {
    position: absolute;
    width: 100%;
    height: 10%;
    color: black;
    background-color: white;
    z-index: 2;
    top: 0;
}
/* css for menu bar */
#indexspan {
    float: left;
    margin: -50px -40px 0 20px;
}
/* css for menu bar */
#notindexspan {
    float: left;
    margin: 30px 0 0 20px;
}
/* css for h1 */
h1 {
    position: absolute;
    margin: 40px 0 0 130px;
}
/* css for h3 */
h3 {
    position: absolute;
    margin: 82px 0 0 80px;
}
/* css for content div */
#content {
    position: relative;
    margin: 100pt 0 0 0;
}
/* css for content1 */
#content1 {
    width: 90%;
    height: 20%;
    position: fixed;
    margin: 10px 0 0 18px;
    background-color: white;
}
/* css for content2 */
#content2 {
    width: 90%;
    height: 20%;
    position: fixed;
    margin: 160px 0 0 18px;
    background-color: white;
}
/* css for content3 */
#content3 {
    width: 90%;
    height: 20%;
    position: fixed;
    margin: 310px 0 0 18px;
    background-color: white;
}
/* css for sum div */
.sum1 {
    position: fixed;
    margin: 10px 0 0 18px;
    width: 35%;
    height: 15%;
    background-color: brown;
}
/* css for des1 div */
.des1 {
    position: fixed;
    margin: 10px 0 0 180px;
    width: 35%;
    height: 15%;
    background-color: purple;
}
/*join Us CSS */
.JoinUsTop {
    margin-top: -40pt;
color: white;  
background-color: darkolivegreen;
    
}
/*join Us title CSS */
.JoinUsTitle{
    font-size: 40pt;
}
/*join Us CSS */
.joinUsP{
    margin-top: -10pt;
    font-size: 14pt;
    padding: 20pt;
    
}
/* css for img container */
.img-containerBuss{
    background-image: url("https://images.pexels.com/photos/1402407/pexels-photo-1402407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 40rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    margin-top: -10pt;
    margin-bottom: pt;
    filter: blur(3px) opacity(95%);   
}
/* css for image container */
.img-containerFood{
    background-image: url("https://images.pexels.com/photos/2159074/pexels-photo-2159074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 40rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    margin-top: -10pt;
    margin-bottom: pt;
    filter: blur(3px) opacity(95%);   
}
/* css for forest div */
.fosterB{
    text-align: center; 
    vertical-align: middle;
    position: absolute; 
    width: 100%;
    color: white; 
    height: auto; 
    margin-top: -330px;
    font-size: 50pt;
    font-weight: bold;
    padding: 4rem;

}
/* css for criteria div */
#criteria {
    font-size: 44pt;
    font-weight: bolder;
}
/* css for business req div */
#businessReq {
    text-align: center;
    width: 100%;
}
/* css for restuarant div */
#foodReq {
    width: 100%;
    margin: 20px 0px 0 0px;
}
/* css for ordered list */
ol{
    justify-content: center;
}
/* css for data in list */
li {
    font-size: 15pt;
    padding: 10px;
    margin: 15px 0 0 -30pt;
    list-style: none;
}
/* About Us Info CSS */
#divLogo1 {
    margin: 10pt 0 0 0;
    z-index: 999;
}
/* css for activity pic div */
#activityPic {
    margin: 0 0 20pt 15pt;
}
/* css for activity text div */
#activityText {
    margin: 12pt 0 0 0;
    font-size: 16pt;
    color: dimgrey;
}
/* css for person pic div */
#personPic {
    border-radius: 50%;
}
/* css for links */
a {
    text-decoration: none;
}
/* css for section */
section {
    padding: 10rem;
    background-color: #fff;
}
/* css for heading */
#heading {
    font-size: 4.0rem;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-left: 0pt;
    margin-bottom: 4rem;
    /*text-align: ;*/
    color: #333;
    position: relative;
}
/* css for heading after click */
#heading::after{
    content: "";
    width: 210rem; 
    height: 28rem;
    background-color: #45e19f;
    /*bottom -2rem; 
    left: ;
    transform: translateY(50%);*/
}
/* css for card wrapper */
.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
/* css for card */
.card {
    width: 33rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.5);
    transition: transform .5s

}
/* css for card img */
.card .card-img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}
/* css for progile img */
#profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 1;
    border: .5rem solid #ebeef8;
}
/* css for name class */
.name {
    font-size: 29pt;
    color: #333;
    margin: 1.5rem 0;
    padding: 10pt;
}
/* css for about div */
.about {
    font-size: 2rem;
    margin: 1rem 0;
    font-style: italic;
    color: #333;
}
/* css for card button classes */
.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}
/* css for hover effect */
.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}
/* css for btn card class after clicked effect */
.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

/* media query for 55px */
@media screen and (max-width: 500px) {
    #service{
        width: 100%;
        margin-top: -30pt;
    }
    #info{
        font-size: 22pt
    }
    #whatweoffer{
        font-size: 30pt; 
    }
    #topBanner{
        display: block;
        width: 100%;
    }
    #content{
        position: relative;
    }
    #foster12{
        font-size: 22pt;  
    }
    #foster1{
        margin-top:190pt; 
    }
    #imgContainer{
        margin-top:60pt;
        height: 30rem;
    }
    .leftSide{
        display: none ;
    }
    .rightSide{
        justify-content: right;
        
    }
    #criteria{
        font-size: 28pt;
        margin-left: 200pt;
    }
    .topAboutContainer{
        margin-left: -70pt;
        display: none;
    }
    #aboutUsInfo{
        font-size: 15pt; 
        margin-left: 200pt;
        margin-bottom: -12pt;
    }
    #maboutUsTop{
        background-color: darkolivegreen;
        margin-top: -29rem;
        width: 100%;
        padding: 20px;
        position: relative;
        display: block;  
        color: white;
    }
    #mcriteria{
        font-size: 33px;
        font-weight: bolder;
    }
    .mmiddle{ 
        margin-top: -1pt;
        width: 100%;
        float: left;
        display: ;
        margin-bottom: 20pt;
    }
    .mcounting-sec{
        padding: 15px 0; 
        width: 100%;
        background-color: darkolivegreen;
    }
    .minner-width{
        max-width: ; 
        margin: auto; 
        display: flex; 
        justify-content: center;
    }
    .mcol{
        flex: ;
        text-align: center; 
        padding: px;
        margin: 0pt 2rem;
        color: #fff;
        text-transform: uppercase;
    }
    .mcol i{
        font-size: 35px; 
        /*color: #333;*/
        margin-left: -1rem; 
    }
    .mnum{
        font-size: 20px; 
        margin-top: 2pt; 
    }
    #mobileAbout{
        display: block;
        position: relative;
        background-color: darkolivegreen;
    }
}

/*media query for profiles*/
@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .about{
        padding: 10px;
    }
    #container{
        vertical-align: middle;    
    }
    .card {
        margin: 3.5rem 2.8rem;
        transition: transform .5s;
   }
    #container{
        width: 120rem; 
        margin: auto;
         vertical-align: middle;
    }
    #content{
        position: relative;
    }
    #activityPic img {
        width: 520pt;
        height: 380pt;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .fosterB{
        text-align: center; 
        vertical-align: middle;
        position: absolute; 
        width: 100%;
        color: white; 
        height: auto; 
        margin-top: -330px;
        font-size: 100pt;
        font-weight: bold;
        padding: 4rem;
    }  
    .joinUsP{
        font-size: 20pt;
        padding: 10pt 250pt;
    }
    .JoinUsTitle{
        font-size: 50pt;
    }
    li{
        padding: 10pt 350pt
    }
}
/* css for hover */
.card:hover {
    transform: scale(1.1);
} 
/* css for middle class */
.middle{    
    width: 100%;
    transform: translateX;
    float: left;
    margin-top: -15pt;
}
/* css for count-sec */
.counting-sec{
    padding: 40px 0; 
    width: 100%;
    background-color: none;
}
/* css for inner width */
.inner-width{
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    justify-content: center;
}
/* css for column */
.col{
    flex: ;
    text-align: center; 
    padding: px;
    margin: 0pt 4rem;
    color: #fff;
    text-transform: uppercase;
}
/* css for i after col */
.col i{
    font-size: 65px; 
    /*color: #333;*/
    margin-left: -1rem; 
}
/* css for num */
.num{
    font-size: 40px; 
    margin-top: 2pt; 
}
/* css for cen */
.cen{
    max-width: 1200px; 
    margin: auto; 
    overflow: hidden;
    padding: 20px; 
}
/* css for service class */
.service{
    display: inline-block; 
    width: calc(100% / 3);
    margin: 2rem 10pt;
    padding: 20px; 
    box-sizing: border-box; 
    cursor: pointer; 
    transition: 0.5s; 
    width: 35rem;
    height: 47rem; 
    vertical-align: middle;
    background-color: ghostwhite;
}
/* css for hover effect */
.service:hover{
    background: #ddd; 
    transform: scale(1.1);
}
/* css for service img */
.service img{
    width: 100%; 
    margin-bottom: 1rem;
    height: 23rem;
    object-fit: cover;
}
/* css for service paragraph */
.service p{
    font-size: 19pt;
    color: grey;
    position: relative; 
}
/* css for info class */
.info {
    margin: 2rem 0; 
}
/* css for about is top */
#aboutUsTop{
    width: auto;
    float: right;
}
/* css for what we offer div */
.whatweoffer{
    font-size: 50pt; 
    font-weight: bolder;
}
/* css for about is container */
.topAboutContainer{
    background-color: darkolivegreen;
    color: white;
    float: left;
    width: 100%;
    margin-bottom: 4rem;
    position: relative;
}
/* css for images */
.outdoorPic{
    width: 100%;
    height: 100%
}
/* css for right side div */
.rightSide{
    width: 70rem;
    height: 48rem;
    float: right;
    padding: 2.5rem;
}
/* css for left side div */
.leftSide{
    float: left;
    width: 56rem;
    height: 48rem;
    background: blue;
}
/* css for about us info div */
.aboutUsInfo{
    font-size: 15pt; 
}
/* css for img container */
.img-container{
    background-image: url("https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 60rem;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    margin-top: 50pt;
    margin-bottom: 40pt;
    filter: blur(1px) opacity(92%);
}
/* css for foster div */
.foster{
    text-align: center; 
    vertical-align: middle;
    position: absolute; 
    width: 100%;
    color: white; 
    height: auto; 
    margin-top: -500px;
    font-size: 65pt;
    font-weight: bold;
    padding: 3rem;
}
/* css for forest pic */
.forest{
    width: 100%;
    height: 100%;
    display: none;
}
/* css for foster2 div */
#foster2{
    display: none;
}
/* css for about us mobile */
.mobileAbout{
    display: none;
}
/* css for about us at top */
.maboutUsTop{
    display:none;
}
